body {
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #6c1d45 20%, #7BAFD4 20%, #7BAFD4 40%, #6c1d45 40%, #6c1d45 60%, #7BAFD4 60%, #7BAFD4 80%, #6c1d45 80%);
    background-size: 200% 200%;
    animation: gradientAnimation 10s linear infinite;
    color: #fff;
    text-align: center;
    font-weight: 600;
    font-size: x-large;
    
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2em;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}

img {
	max-width: 50%;
	height: auto;
	display: block;
	margin: 0 auto;
}
